/***************************
Add your custom styles below
****************************/
.top-bar.nav-sticky .nav-menu {
  padding-top: 32px;
} 
.nav-menu {
    padding-top: 24px;
  }
  .simple-bar .nav-menu {
  padding-top: 54px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.menu1 {
    top: 0px;
  }
  .menu1 li {
    float: left;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .menu1 li:last-child .subnav-halfwidth {
  right: 0px;
}
.menu1 {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  top: 2px;
}
.menu1 li {
  margin-right: 56px;
  position: relative;
}
.menu1 li:last-child {
  margin-right: 0px;
}
.menu1 li a {
  font-family: 'Montserrat', sans-serif;
  font-size: .90rem;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  padding-bottom: 2px;
  display: inline-block;
  line-height: 2px;
}
.menu1 li a:hover {
  color: #333333;
}
@media all and (max-width: 1050px) {
  .menu1 li {
    margin-right: 32px;
  }
}
.project-single-process2 {
  position: absolute;
  opacity: .03;
  font-size: 10em;
  right: 0;
  top: 0;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}


