        <div class="nav-container">
            <div class="via-1511689601191" via="via-1511689601191" vio="Home">
                <nav class="bar bar-toggle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-sm-2 col-xs-3">
                                <div class="bar__module">
                                    <%= link_to root_path do %>
                                    <%= image_tag('armadillo11.png', class: 'logo logo-dark', alt: 'Armadillo Digital') %>
                                <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
        